/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
  z-index: 11;
}

::-webkit-scrollbar-thumb {
  background: #bd0507;
  border-radius: 8px;
  width: 8px;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-track-piece {
  background: #121316;
  width: 8px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}
